<section class='mx-auto prose'>
<h1>Add a new recipe</h1>
<!--<%= render partial: "form", locals: {recipe: @recipe} %>  -->
<%= render "form", recipe: @recipe %>

<div>
    <%= link_to "Go back to recipes", recipes_path%>
</div>
</section>

