@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

.banner {
  background-image: url('<%= asset_path("background.png") %>');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: 50%;
}

